# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
root = true

[*]
indent_style = space
indent_size = 4  # Set the desired tab size here